{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Badminton - Rann &mdash;  2K23<</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <!-- <link rel="shortcut icon" href="{% static 'ftco-32x32.png' %}"> -->
  <link rel="shortcut icon" href="{% static '/images/Blue and Black Minimal Code House Logo (1000 × 500px) (2).png' %}">

  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static '/css/timer.css' %}">

  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <link href="{% static 'css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{% static '/css/style.css' %}">



</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo"><a href="/"><i> रण 2k23</i><span>.</span> </a></div>
          <div class="ml-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="/" class="nav-link">&laquo; Back to home</a></li>
                
              </ul>
            </nav>
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span
                class="icon-menu h3"></span></a>
          </div>

        </div>
      </div>

    </header>

    <div class="bgimg" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url({% static 'images/badminton.jpg' %});" >           
    
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-7">
            <h2 class="">BADMINTON</h2>
            <p class="lead mx-auto desc mb-5">PRACTICE like you've never won. PERFORM like you've never lost.</p>
          </div>
        </div>
      </div>
    
    </div>

    <div class="site-section">
      <div class="container">
        
        <div class="row mb-5">
          <div class="col-lg-6 text-dark" style="font-size:18px;">
            <h2 class="font-weight-bold">RULES:</h2>
            <div class="ul-check list-unstyled success">
              <li>Tournament will be played in league/knockout format.</li>
              <li>In case of clash of points, the winner will be decided according to the number of sets won.</li>
             <li>Only non-marking shoes are allowed.</li>
             <li>If a player or a team is found doing any unfaithful behavior will be disqualified.  </li> 
             <li>A game consists of 30/21/15 points.</li> 
              <li>If in case the shuttle hits the ceiling, then the point will be awarded to opponent team.</li> 
                <li>The player/pair winning a rally adds a point to its score.</li> 
                  <li>At 20-all, the player/pair which first gains a 2-point lead wins that game.</li> 
                    <li>At 29-all, the side scoring the 30th point wins that game.</li> 
                      <li>The player/pair winning a game serves first in the next game.</li> 
                        <li>A badminton match can be played by two opposing players (singles) or four opposing players (doubles).</li> 
                          <li>A point is scored when the shuttlecock lands inside the opponent's court or if a returned shuttlecock hits the net or lands outside of the court the player will lose the point.</li> 
                            <li>At the start of the rally, the server and receiver stand in diagonally opposite service courts.</li> 
                              <li>A legal serve must be hit diagonally over the net and across the court.</li> 
                                <li>A badminton serve must be hit underarm and below the server's waist height. The whole of the shuttle should be below 1.15 meters from the surface of the court when it is hit by the server, with the racquet shaft pointing downwards. The shuttlecock is not allowed to bounce. After a point is won, the players will move to the opposite serving stations for the next point.</li> 
                                  <li>The rules do not allow second serves.</li> 
                                    <li>During a point a player can return the shuttlecock from inside and outside of the court.</li> 
                                      <li>A player is not able to touch the net with any part of their body or racket.</li> 
                                        <li>A player must not deliberately distract their opponent.</li> 
                                          <li>A player is not able to hit the shuttlecock twice.</li> 
                                            <li>21.	A 'let' may be called by the referee if an unforeseen or accidental issue arises.</li> 
                                              <li>A game may include two rest periods. These are a 90-second rest after the first game and a 2-minute rest after the second game. </li> 
                                                <li>Umpire’s decision will be final.</li> 
                                                  <li>Protest will be considered before the start of the match.</li> 
                
            </div>
          
          </div>
           <div class="col-lg-6 text-dark" style="font-size:18px;">
            <h2>Coordinators for the event-</h2>
            <ul>
              <h5>Student Coordinator</h5>
              <li>Ayush Pandey: <a href="tel: +919140593334">+919140593334</a></li>
              <li>Aayush Malik: <a href="tel: +917060661981">+917060661981</a></li><br>
              <h5>Faculty Coordinator</h5>
                <li>Dr. Sweta Shukla:     <a href="tel: +919711368887">+919711368887</a></li>
            </ul>
            
          </div>
        </div> 
        
        <div class="row">
          <div class="col-12 text-center">
            <p><a href="https://forms.gle/j8hbGsvsgo8QBBvV7" class="btn btn-primary py-3 px-4">REGISTER FOR MEN TEAM</a></p>
            <p><a href="https://forms.gle/Gwy7BVhU4yi6djz76" class="btn btn-primary py-3 px-4">REGISTER FOR WOMEN TEAM</a></p>
            <p><a href="https://forms.gle/D3D4UvueiGFv2Pri7" class="btn btn-primary py-3 px-4">REGISTER FOR MIXED-DOUBLES TEAM</a></p>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3 class="text-dark text-center">About Rann 2k23</h3>
            <p class="text-center">RANN ,The National Level Sports Fest of KIET Group of Institutions is a three days mega event with participants from more than 70 reputed colleges and universities.
              It is aimed at leading by example of sportsmanship. Rann infuses passion in veins and emboldens the action being performed.</p>
          </div>

          <div class="col-md-3 ml-auto text-center">
            <h3 class="text-dark">Links</h3>
            <ul class="list-unstyled footer-links">
                <li><a href="/">Home</a></li>
                <li><a href="/#site-section">Guest</a></li>
                <li><a href="/#classes-section">Events</a></li>
                <li><a href="#">Core Member</a></li>
                <li><a href="/#trainer-section">Sponsors</a></li>
            </ul>
          </div>

          <div class="col-md-4">
            
            <h3 class="text-dark text-center">About KIET</h3>
            <p class="text-center">KIET Group Of Institutions offers four year under graduate B.Tech course in ten engineering branches, two year post graduate M.Tech course in four engineering branches and two year post graduate MCA course.</p>
          </div>

        </div>

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class=" pt-5">
              <p class="copyright"><small>&copy;
                  <script>document.write(new Date().getFullYear());</script> Rann 2023. All Rights Reserved. Design by <a
                    href="https://innogeeks.in/" target="_blank">Team Innogeeks❤️</a></small></p>
            </div>
          </div>

        </div>
      </div>
    </footer>


  </div>
  <!-- .site-wrap -->

  <script src="{% static 'js/timer.js' %}"></script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>