{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Chess - Rann &mdash;  2K23</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <!-- <link rel="shortcut icon" href="{% static 'ftco-32x32.png' %}"> -->
  <link rel="shortcut icon" href="{% static '/images/Blue and Black Minimal Code House Logo (1000 × 500px) (2).png' %}">

  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static '/css/timer.css' %}">

  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <link href="{% static 'css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{% static '/css/style.css' %}">


</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo"><a href="/"><i> रण 2k23</i><span>.</span> </a></div>
          <div class="ml-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a onclick="window.location.href='/#classes-section'" class="nav-link">&laquo; Back to Events</a></li>
                
              </ul>
            </nav>
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span
                class="icon-menu h3"></span></a>
          </div>

        </div>
      </div>

    </header>

    <div class="bgimg" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url({% static 'images/chess.jpg' %});" >
    
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-7">
            <h2 class="">CHESS</h2>
            <p class="lead mx-auto desc mb-5">Never announce your moves before you make them</p>
          </div>
        </div>
      </div>
    
    </div>

    <div class="site-section">
      <div class="container">
       
        <div class="row mb-5">
          <div class="col-lg-6 text-dark" style="font-size:18px;">
            <h2 class="font-weight-bold">RULES:</h2>
            <div class="ul-check list-unstyled success">
              <li>Each move must be made with one hand only.</li>
                <li> Provided that he first expresses his intention (for example by saying „j’adoube“ or “I adjust”), the player having the move may adjust one or more pieces on their squares.“ or “I adjust”), the player having the move may adjust one or more pieces on their squares.</li>
                  <li>Deliberately touches his king and rook he must castle on that side if it is legal to do so, deliberately touches a rook and then his king he is not allowed to castle on that side on that move.</li>
                    <li>Promotes a pawn, the choice of the piece is finalised, when the piece has touched the square of promotion.</li>
                      <li>‘Chess clock’ means a clock with two time displays, connected to each other in such a way that only one of them can run at one time. ‘Clock’ in the Laws of Chess, means one of the two time displays. Each time display has a ‘flag’. ‘Flag fall’ means the expiration of the allotted time for a player.</li>
                        <li>When using a chess clock, each player must make a minimum number of moves or all moves in an allotted period of time and/or may be allocated an additional amount of time with each move. All these must be specified in advance.</li>
                          <li>Before the start of the game the arbiter decides where the chess clock is placed. </li>
                            <li>At the time determined for the start of the game the clock of the player who has the white pieces is started. </li>
               <li>A player must stop his clock with the same hand as that with which he made his move. It is forbidden for a player to keep his finger on the button or to ‘hover’ over it.</li>
                <li>If a player displaces one or more pieces, he shall re-establish the correct position on his own time. If necessary, either the player or his opponent shall stop the clocks and ask for the arbiter’s assistance. The arbiter may penalise the player who displaced the pieces.</li>
                
            </div>
           
          </div>
          <div class="col-lg-6 text-dark" style="font-size:18px;">
            <h2>Coordinators for the event-</h2>
            <ul>
              <h5>Student Coordinators</h5>
              <li>Anurag mishra: <a href="tel: +919335061545">+919335061545</a></li>
          
              <li>Paras:  <a href="tel: +919005747759">+919005747759</a></li><br>
             
              <h5>Faculty Coordinators</h5>
              <li>Prof. Mohit Tyagi: <a href="tel: +919643142808">+919643142808</a></li>
            </ul>
           
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <p><a href="https://forms.gle/1MZ5o7SYLr7Egzs87" class="btn btn-primary py-3 px-4">REGISTER FOR INDIVIDUAL</a></p>
            <p><a href="https://forms.gle/bnmX643aLMnEZbLW9" class="btn btn-primary py-3 px-4">REGISTER FOR TEAM</a></p>
          </div>
        </div>
      </div>
    </div>
    
    <footer class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3 class="text-dark text-center">About Rann 2k23</h3>
            <p class="text-center">RANN ,The Inter College Sports Fest of KIET Group of Institutions is a three days mega event with participants from more than 70 reputed colleges and universities.
              It is aimed at leading by example of sportsmanship. Rann infuses passion in veins and emboldens the action being performed.</p>
          </div>

          <div class="col-md-3 ml-auto text-center">
            <h3 class="text-dark">Links</h3>
            <ul class="list-unstyled footer-links">
                <li><a href="/">Home</a></li>
                <li><a href="/#site-section">Guest</a></li>
                <li><a href="/#classes-section">Events</a></li>
                <li><a href="#">Core Member</a></li>
                {% comment %} <li><a href="/#trainer-section">Sponsors</a></li> {% endcomment %}
            </ul>
          </div>

          <div class="col-md-4">
            
            <h3 class="text-dark text-center">About KIET</h3>
            <p class="text-center">KIET Group Of Institutions offers four year under graduate B.Tech course in ten engineering branches, two year post graduate M.Tech course in four engineering branches and two year post graduate MCA course.</p>
          </div>

        </div>

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class=" pt-5">
              <p class="copyright"><small>&copy;
                  <script>document.write(new Date().getFullYear());</script> Rann 2023. All Rights Reserved. Design by <a
                    href="https://innogeeks.in/" target="_blank">Team Innogeeks❤️</a></small></p>
            </div>
          </div>

        </div>
      </div>
    </footer>



  </div>
  <!-- .site-wrap -->

  <script src="{% static 'js/timer.js' %}"></script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>