{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/">
    <title>Core team</title>
    <link rel="shortcut icon" href="{% static '/images/th.jpeg' %}">

    <link rel="shortcut icon" href="{% static 'ftco-32x32.png' %}">

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/timer.css' %}">
  
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
  
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link href="{% static 'css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">
  
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

<style>
    #coremember{
        height: 12em;
        width: 12em;
    }
</style>
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">
  
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
  
  
      <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
  
        <div class="container-fluid">
          <div class="d-flex align-items-center">
            <div class="site-logo"><a href="index.html">Rann 23<span></span> </a></div>
            <div class="ml-auto">
              <nav class="site-navigation position-relative text-right" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                  <li><a href="index.html" class="nav-link">&laquo; Back to home</a></li>
                  
                </ul>
              </nav>
              <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a>
            </div>
  
          </div>
        </div>
  
      </header>
      <a id="bgndVideo" class="player"
      data-property="{videoURL:'https://www.youtube.com/watch?v=w-cRWOjlk8c',showYTLogo:false, showAnnotations: false, showControls: false, cc_load_policy: false, containment:'#home-section',autoPlay:true, mute:true, startAt:255, stopAt: 271, opacity:1}">
    </a>
    <div class="site-section" id="services-section">
        <div class="container">
          <div class="row justify-content-center text-center mb-5" data-aos="fade-up">
            <div class="col-md-8  section-heading">
              <!-- <span class="subheading">Fitness Services</span> -->
              <h2 class="heading mb-3">Core Member</h2>
            </div>
          </div>
  
          <div class="row">
            <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="">
              <div class="ftco-feature-1">
                <!-- <span class="icon flaticon-fit"></span> -->
                <img src="images/coremember/praveshchoudhary.jpg" id="coremember" alt="" >
                <div class="ftco-feature-1-text">
                  <h2>Pravesh Choudhary</h2>
                  <p>volleyball Team </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="ftco-feature-1">
                <img src="images/coremember/Abhinav.jpeg" id="coremember" alt="" >
                <div class="ftco-feature-1-text">
                  <h2>Abhinav </h2>
                  <p>Basketball Team</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="ftco-feature-1">
                <img src="images/coremember/Anurag Mishra(Chess).jpg" id="coremember" alt="" >
                <div class="ftco-feature-1-text">
                  <h2>Anurag mishra</h2>
                  <p>Chess</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="">
              <div class="ftco-feature-1">
                <img src="images/coremember/Saurabh Chaudhary.jpg" id="coremember" alt="" >
                <div class="ftco-feature-1-text">
                  <h2>Saurabh Chaudhary</h2>
                  <p></p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="ftco-feature-1">
                <img src="images/coremember/IMG-20220904-WA0001_2.jpg" id="coremember" alt="" >
                <div class="ftco-feature-1-text">
                  <h2>Akhilesh </h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                    texts.</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="ftco-feature-1">
                <img src="images/coremember/Screenshot_20220320-125812__01.jpg" id="coremember" alt="" >
                <div class="ftco-feature-1-text">
                  <h2>  Nitinjay</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                    texts.</p>
                </div>
              </div>
            </div>
  
          </div>
          <div class="row">
            <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="">
              <div class="ftco-feature-1">
                <!-- <span class="icon flaticon-fit"></span> -->
                <img src="images/coremember/IMG_1023.jpg" id="coremember" alt="" >
                <div class="ftco-feature-1-text">
                  <h2>Ankit Yadav</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                    texts.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="ftco-feature-1">
                <span class="icon flaticon-gym-1"></span>
                <div class="ftco-feature-1-text">
                  <h2>Join Club</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                    texts.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="ftco-feature-1">
                <span class="icon flaticon-gym"></span>
                <div class="ftco-feature-1-text">
                  <h2>Gym Fitness</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                    texts.</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="">
              <div class="ftco-feature-1">
                <span class="icon flaticon-vegetables"></span>
                <div class="ftco-feature-1-text">
                  <h2>Eat Vegie</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                    texts.</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="ftco-feature-1">
                <span class="icon flaticon-fruit-juice"></span>
                <div class="ftco-feature-1-text">
                  <h2>Fruit Juices</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                    texts.</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="ftco-feature-1">
                <span class="icon flaticon-stationary-bike"></span>
                <div class="ftco-feature-1-text">
                  <h2>Body Warmup</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                    texts.</p>
                </div>
              </div>
            </div>
  
          </div>
          <div class="row">
            <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="">
              <div class="ftco-feature-1">
                <span class="icon flaticon-fit"></span>
                <div class="ftco-feature-1-text">
                  <h2>Be Fit</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                    texts.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="ftco-feature-1">
                <span class="icon flaticon-gym-1"></span>
                <div class="ftco-feature-1-text">
                  <h2>Join Club</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                    texts.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="ftco-feature-1">
                <span class="icon flaticon-gym"></span>
                <div class="ftco-feature-1-text">
                  <h2>Gym Fitness</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                    texts.</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="">
              <div class="ftco-feature-1">
                <span class="icon flaticon-vegetables"></span>
                <div class="ftco-feature-1-text">
                  <h2>Eat Vegie</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                    texts.</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="ftco-feature-1">
                <span class="icon flaticon-fruit-juice"></span>
                <div class="ftco-feature-1-text">
                  <h2>Fruit Juices</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                    texts.</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mb-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="ftco-feature-1">
                <span class="icon flaticon-stationary-bike"></span>
                <div class="ftco-feature-1-text">
                  <h2>Body Warmup</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                    texts.</p>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
      
</body>
<!-- <script src="js/"></script> -->
<script src="{% static 'js/timer.js' %}"></script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</html>