{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Kabbadi - Rann &mdash;  2K23</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <!-- <link rel="shortcut icon" href="{% static 'ftco-32x32.png' %}"> -->
  <link rel="shortcut icon" href="{% static '/images/Blue and Black Minimal Code House Logo (1000 × 500px) (2).png' %}">

  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static '/css/timer.css' %}">

  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <link href="{% static 'css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{% static '/css/style.css' %}">



</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo"><a href="/"><i> रण 2k23</i><span>.</span> </a></div>
          <div class="ml-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="/" class="nav-link">&laquo; Back to home</a></li>
                
              </ul>
            </nav>
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span
                class="icon-menu h3"></span></a>
          </div>

        </div>
      </div>

    </header>

    <div class="bgimg" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url({% static 'images/kabbadi.jpg' %});" >
    
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-7">
            <h2 class="">KABBADI</h2>
            <p class="lead mx-auto desc mb-5">The key to get ahead is to get started.</p>
          </div>
        </div>
      </div>
    
    </div>

    <div class="site-section">
      <div class="container">
        
        <div class="row mb-5">
          <div class="col-lg-6 text-dark" style="font-size:18px;">
            <h2 class= "font-weight-bootstrap">RULES:</h2>
            <div class="ul-check list-unstyled success">
              <li>Every team can have a maximum of 12 players and 7 will play on the ground.</li>
              <li>Matches will be played on the soil ground. </li>
                <li>The weight of player should not exceed 85 kg there is no limit for age.</li>
                  <li>Raid will be for 30 sec.</li>
                    <li>There will be a super raid if the team is not getting any points in three continuous raids.</li>
                      <li>Players should follow the instructions and rules given by the referee.</li>
                        <li>The match duration is two halves of 15 minutes with a half-time break of 5 minutes.</li>
                          <li>At the start of a Kabaddi match, there is a coin toss with the winner choosing whether to have the first raid or court. In the second half of the match, the team that did not raid first shall begin the second half with a raid.</li>
                            <li>The raider should cross the buck line or touch at least one opposing team player for a successful raid.</li>
                              <li>Any team can make max 5 substitutions during the match. after completion of substitution, if the injury will happen then the team can take substitution according to the referee’s instruction.</li>
                                <li>To prove that another breath hasn’t been taken, the raider must continue to repeatedly yet the word ‘Kabaddi in 3 sectioned intervals’. Failure to do this, even for just a moment means that the raider must return to their own side of the court without points and the opposite team is awarded a point for a successful defensive play.</li>
                                  <li>There is a bonus point after crossing the bonus line with greater than 5 players on the court.</li>
                                    <li>The team will get one extra point in supper tackle.</li>
                                      <li>There is a super tackle in less than the 4 players on the court.</li>
                                        <li>The team being raided is defending, and the players must prevent the raiders from tagging them and returning back over the halfway line. While in defence, a team may score a point by successfully preventing the raider from returning to their own half after tagging them. Raiders may only be grabbed by their limbs or torso, not by their hair, clothes, or anywhere else, and defenders are not permitted to cross the center line.</li>
                                          <li>Raiders and defenders are allowed to go to the lobby after touching at least one player by the raider during the raider.</li>
                                            <li> The game continues in this way until the time is up, and the team with the most points at the end of the match is declared the winner.</li>
                                              <li>Any team can take max 2 breaks during the game for 2 min.</li>
                                                <li>Players should not go outside the court during breaks.</li>
                                                  <li>There are some rules for the players to prevent fighting in the game. Any type of fighting is not allowed if we find such type of stuff, the team will be disqualified</li>
                                                    <li>The captain or vice-captain are can appeal only during the game there are no arguments with the referee during the game</li>
                                                      <li>Disturbances are not allowed during the raid only the one player is allowed to speak(instructions)</li>
                                                        <li>If the player is not following the rules and instructions given by the referee player will get a yellow card. (Some important points: do not fight with players during the game, and do not try to make injury to another player intentionally)</li>
                                                          <li>If the player repeats mistakes in the same game (instruction given by referee) again then he will get a red card</li>
                                                            <li>here is a technical point in each card referee can give tactical points without giving cards if any player breaks the small rules.</li>
                                                              <li>Yellow card:
                o	The player will be out for 2 min. And bonuses are allowed for 5 players as well and   this team will get the super tackle in only 2 players.
                o	If any player gets 2 yellow cards in different matches the player will not be playing the next game.</li>
                <li> Red card:
                o	the player will go outside for the game.
                o	If 2 players will get red cards then the team will be disqualified.</li>
                
            </div>
          
          </div>
           <div class="col-lg-6 text-dark" style="font-size:18px;">
            <h2>Coordinators for the event-</h2>
            <ul>
              <li>Nitinjay Yadav</li>
              <li> <a href="tel: +916396599819">+916396599819</a> </li>
              <li>Ayush tomar</li>
              <li> <a href="tel: +918191965855">+918191965855</a> </li>
            </ul>
            
          </div>
        </div> 
        
        <div class="row">
          <div class="col-12 text-center">
            <p><a href="https://forms.gle/gub1owjkoRRwjJu1A" class="btn btn-primary py-3 px-4">REGISTER FOR MEN TEAM</a></p>
            <p><a href="https://forms.gle/vwSGqhrMDAkidE8g9" class="btn btn-primary py-3 px-4">REGISTER FOR WOMEN TEAM</a></p>
          </div>
        </div>
      </div>
    </div>

 
    <footer class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3 class="text-dark text-center">About Rann 2k23</h3>
            <p class="text-center">RANN ,The National Level Sports Fest of KIET Group of Institutions is a three days mega event with participants from more than 70 reputed colleges and universities.
              It is aimed at leading by example of sportsmanship. Rann infuses passion in veins and emboldens the action being performed.</p>
          </div>

          <div class="col-md-3 ml-auto text-center">
            <h3 class="text-dark">Links</h3>
            <ul class="list-unstyled footer-links">
              <li><a href="/">Home</a></li>
                <li><a href="/#site-section">Guest</a></li>
                <li><a href="/#classes-section">Events</a></li>
                <li><a href="#">Core Member</a></li>
                <li><a href="/#trainer-section">Sponsors</a></li>
            </ul>
          </div>

          <div class="col-md-4">
            
            <h3 class="text-dark text-center">About KIET</h3>
            <p class="text-center">KIET Group Of Institutions offers four year under graduate B.Tech course in ten engineering branches, two year post graduate M.Tech course in four engineering branches and two year post graduate MCA course.</p>
          </div>

        </div>

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class=" pt-5">
              <p class="copyright"><small>&copy;
                  <script>document.write(new Date().getFullYear());</script> Rann 2023. All Rights Reserved. Design by <a
                    href="https://innogeeks.in/" target="_blank">Team Innogeeks❤️</a></small></p>
            </div>
          </div>

        </div>
      </div>
    </footer>


  </div>
  <!-- .site-wrap -->

  <script src="{% static 'js/timer.js' %}"></script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  
</body>

</html>