{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Yoga - Rann &mdash;  2K23</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <link rel="shortcut icon" href="{% static '/images/Blue and Black Minimal Code House Logo (1000 × 500px) (2).png' %}">
  <!-- <link rel="shortcut icon" href="{% static 'ftco-32x32.png' %}"> -->

  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static '/css/timer.css' %}">

  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <link href="{% static 'css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{% static '/css/style.css' %}">




</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo"><a href="/"><i> रण 2k23</i><span>.</span> </a></div>
          <div class="ml-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a onclick="window.location.href='/#classes-section'" class="nav-link">&laquo; Back to home</a></li>
                
              </ul>
            </nav>
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span
                class="icon-menu h3"></span></a>
          </div>

        </div>
      </div>

    </header>

    <div class="bgimg" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url({% static 'images/yoga.jpg' %});" >
    
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-7">
            <h2 class="">YOGA</h2>
            <p class="lead mx-auto desc mb-5">Energy speaks harder than words.</p>
          </div>
        </div>
      </div>
    
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-6 text-dark" style="font-size:18px;">
            <h2 class="font-weight-bold">RULES:</h2>
            <div class="ul-check list-unstyled success">
              Category A
                <li>Paschimotanasana Note: elbow must touch the floor</li>
                <li> Dhanurasana</li>
                <li> Natrajasana</li>
                <li>Gaumukhasana</li>
                Category B
                <li>Chakrasana Note: Finger should touch the heels.</li>
                <li>Bakasana</li>
                Category C
               <li> Kapotasana</li>
                <li>Shirasana</li>
               Time for each asana
               <li>Category A ‐2 minutes</li>
               <li> Category B ‐ thirty seconds</li>
               <li> Category C ‐ 20 seconds</li>
                <li>Four compulsory asanas are to be performed from the given list of 8 asanas.</li>
                <li>No asana will be changed or altered once fixed or obtained by the competitor.</li>
                <li>Marking scheme will include the construction, the holding and the lasting of an asana. Expression of
              tension and trembling will also be noted. The final pose will be accepted with smiling face and pleasant expression.</li>
                Each asana will be of 10 marks. The detail distribution of these 10 marks will be given by the judges as under : ‐
                <li>Way of performance to reach the final stage of the asana ‐1 mark. </li>
              <li>Perfect posture of the asana – 4 marks.</li>
              <li>Exhibition of the asana without tension and trembling – 2 marks. </li>
              <li>Stay in asana for a fixed time – 2 marks. </li>
              <li>Returning to original position – 1 mark</li>
              Jeans and trousers will not be allowed while performing asanas. Slacks, Shorts and Track Suits are compulsory.
                <li> In case of a tie marks obtained in group ‘C’ asanas will decide the winner. </li>
                
              
            </div>
          
          </div>
          <div class="col-lg-6 text-dark" style="font-size:18px;">
            <h2>Coordinators for the event-</h2>
            <ul>
              <h5>Student Coordinator</h5>
              <li>Ojasvi Singh: <a href="tel: +918840383067">+918840383067</a> </li><br>

              <h5>Faculty Coordinator</h5>
              <li>Prof. Abhishek Yadav: <a href="tel: +919821140379">+919821140379</a></li>
             
            </ul>
            
          </div>
        </div> 
        
        <div class="row">
          <div class="col-12">
            <p class="text-center"><a href="https://forms.gle/w8pjasNxJ3DJ7Mj98" class="btn btn-primary py-3 px-4">REGISTER FOR YOGA 1</a></p>
          </div>
          <div class="col-12">
            <p class="text-center"><a href="https://forms.gle/xdWbVGJupq4dHr827" class="btn btn-primary py-3 px-4">REGISTER FOR YOGA 2</a></p>
          </div>
          <div class="col-12">
            <p class="text-center"><a href="https://forms.gle/mkBLGbnabMSvhZah8" class="btn btn-primary py-3 px-4">REGISTER FOR YOGA 3</a></p>
          </div>
          <div class="col-12">
            <p class="text-center"><a href="https://forms.gle/xgixPjWdovJWH6F5A" class="btn btn-primary py-3 px-4">REGISTER FOR YOGA TEAM</a></p>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3 class="text-dark text-center">About Rann 2k23</h3>
            <p class="text-center">RANN ,The National Level Sports Fest of KIET Group of Institutions is a three days mega event with participants from more than 70 reputed colleges and universities.
              It is aimed at leading by example of sportsmanship. Rann infuses passion in veins and emboldens the action being performed.</p>
          </div>

          <div class="col-md-3 ml-auto text-center">
            <h3 class="text-dark">Links</h3>
            <ul class="list-unstyled footer-links">
              <li><a href="/">Home</a></li>
                <li><a href="/#site-section">Guest</a></li>
                <li><a href="/#classes-section">Events</a></li>
                <li><a href="#">Core Member</a></li>
                <li><a href="/#trainer-section">Sponsors</a></li>
            </ul>
          </div>

          <div class="col-md-4">
            
            <h3 class="text-dark text-center">About KIET</h3>
            <p class="text-center">KIET Group Of Institutions offers four year under graduate B.Tech course in ten engineering branches, two year post graduate M.Tech course in four engineering branches and two year post graduate MCA course.</p>
          </div>

        </div>

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class=" pt-5">
             
              <p class="copyright"><small>&copy;
                  <script>document.write(new Date().getFullYear());</script> Rann 2023. All Rights Reserved. Design by <a
                    href="https://innogeeks.in/" target="_blank">Team Innogeeks❤️</a></small></p>
            </div>
          </div>

        </div>
      </div>
    </footer>


  </div>
  <!-- .site-wrap -->

  <script src="{% static 'js/timer.js' %}"></script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>